<!DOCTYPE HTML>

<html style="background-image: url({{ site.url }}assets/css/images/overlay.png), 
							   url({{ site.url }}{{ page.bg-image }});">
{% include head.html %}

<body>

<section id="one" class="main special">
	{% include backButton.html %}
	<div class="container page-container">
		<span class="image fit"><img src="{{ site.url }}{{ page.display-image }}" alt="" /></span>
		<div class="content">
			<header class="major">
				<h2>{{ page.title }}</h2>
			</header>
			{{ page.excerpt }}
			{{ site.url }}
			{% if page.github-link %}
				<a href="{{ page.github-link }}" class="page-icon icon alt fa-github fa-3x" target="_blank">
					<span class="label">GitHub</span>
				</a>
			{% endif %}
		</div>
	</div>
</section>
</body>
</html>